<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oss.anitha.digiassist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DigiAssistActivity"
            android:label="@string/title_activity_digi_assist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddReminderActivity"
            android:label="@string/title_activity_add_reminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DigiAssistantActivity" />
        </activity>
        <activity
            android:name=".ListMedicationActivity"
            android:label="@string/title_activity_lsit_medication" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCalendarActivity"
            android:label="@string/title_activity_view_calendar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendSymptomsActivity"
            android:label="@string/title_activity_send_symptoms" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver"></receiver>
    </application>

</manifest>