<!--
Copyright(c) 2012 Anitha Suryanarayan 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Author: Anitha Suryanarayan
feedback: anitha@pdx.edu
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oss.anitha.digiassist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DigiAssistActivity"
            android:label="@string/title_activity_digi_assist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddReminderActivity"
            android:label="@string/title_activity_add_reminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DigiAssistantActivity" />
        </activity>
        <activity
            android:name=".ListMedicationActivity"
            android:label="@string/title_activity_lsit_medication" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCalendarActivity"
            android:label="@string/title_activity_view_calendar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendSymptomsActivity"
            android:label="@string/title_activity_send_symptoms" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" >
        </receiver>

        <activity
            android:name=".MedicationSupplyActivity"
            android:label="@string/title_activity_medication_supply" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HealthLogActivity"
            android:label="@string/title_activity_medication_log" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DigiAssistSettingsActivity"
            android:label="@string/title_activity_digi_assist_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DigiAssistHelpActivity"
            android:label="@string/title_activity_digi_assist_help" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>